*{
    margin: 0;
    padding: 0;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px; /* adjust this height as needed */
}
.wrapper {
    margin-bottom: 60px; /* adjust this margin as needed */
  }